body {
    background-color: #EBEDED;     
    font-family: sans-serif; 
}

form{
    width: 500px;
    margin: auto; 
    padding-top: 60px;  

}

.painel {
    box-shadow: 1px 1px 5px #000000;
    background-color: #000000; 
    padding: 30px;
    border-radius: 5px; 
}

.titulo {
    text-align: center; 
    color: #E80000; 

} 
.grupo > label { 
    color: #E80000;
    display: block;
    margin: 4px;
    font-size: 15px; 
    margin-left: 80px; 
}
.grupo > input { 
    display: block; 
    outline: 0;
    width: 60%;
    height: 20px; 
    margin: 4px;
    margin-left: 80px; 
}
#imagem {
    width: 80px;
    height: 80px; 
    border-radius: 10px;
    
}

#esqueceu {
    color: red; 
    font-size: 14px; 
    margin-left: 80px; 
}
#boton {
    margin: 4px; 
    margin-top: 10px; 
    margin-left: 80px; 
    width: 80px;
    height: 30px; 
    font-size: 16px; 
    font-family: sans-serif; 

}
